.one {weight:200px;height: 250px;position: relative;left:200px;}
.mef {position: relative;;left: 300px;bottom:20px}
body {background-color: plum;color: whitesmoke;}
.mefi {background-color: black;}